body,
html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}
header {
  background-color: #fff8dc;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 10px;
}
footer {
  background-color: #fff8dc;
  padding: 0.5rem 4rem;
  margin: 0 2rem;
}
footer h3 {
  margin: 0;
  margin-top: 1rem;
}
footer > div {
  display: flex;
}
footer > div > p {
  font-weight: 500;
  margin-right: 3rem;
}
footer > div > p > svg {
  width: 1rem;
}
.logo {
  display: flex;
  align-items: center;
}
.logo-circle {
  width: 30px;
  height: 30px;
  background-color: #e6e6fa;
  border-radius: 50%;
  margin-right: 10px;
}
nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
nav a {
  margin: 5px;
  text-decoration: none;
  color: black;
}
.cart {
  background-color: #e6e6fa;
  padding: 5px 10px;
  border-radius: 5px;
}
main {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
}
.categories {
  width: 100%;
  max-width: 200px;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 20px;
  height: fit-content;
}
.category {
  margin-bottom: 5px;
}
.show-more {
  background-color: #e0ffff;
  border: 1px solid #1d8e9f;
  border-radius: 0.3rem;
  padding: 5px 10px;
  margin-top: 10px;
  cursor: pointer;
}
.product-grid {
  flex-grow: 1;
  padding-left: 20px;
}
.search-sort {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
}
.search-bar {
  flex-grow: 1;
  margin-right: 10px;
  margin-bottom: 10px;
}
.products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.product {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}
.product > p {
  text-align: start;
  font-weight: 600;
}
.product-image {
  background-color: #f0f0f0;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}
.price {
  color: blue;
}
.discount {
  color: red;
}
.discount svg {
  width: 1rem;
  color: black;
}
.product .money {
  display: flex;
  justify-content: space-between;
}
.pagination {
  margin-top: 20px;
  text-align: center;
}
.pagination button {
  margin: 5px;
}

@media (max-width: 768px) {
  .categories {
    max-width: 100%;
  }
  .product-grid {
    padding-left: 0;
  }
  .search-sort {
    flex-direction: column;
  }
  .search-bar,
  .search-sort select {
    width: 100%;
    margin-bottom: 10px;
  }
}

@media (max-width: 1200px) {
  .products {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .products {
    grid-template-columns: 1fr;
  }

  footer {
    padding: 0.5rem 0.5rem;
    margin: 0 1rem;
  }

  footer > div > p {
    font-weight: 500;
    margin-right: 1rem;
    display: flex;
    align-items: center;
  }
  footer > div > p:last-child {
    margin-right: 0;
  }
  nav {
    width: 100%;
    justify-content: space-around;
  }
}
